.home {
    display: flex;
    height: 100vh;
    background: linear-gradient(180deg, #121212, #181818);
    color: white;
  }
  
 
  
  .logo {
    font-size: 1.8rem;
    color: #1db954;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    margin: 1rem 0;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #1db954;
  }
  
  .create-playlist {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-playlist:hover {
    background-color: #1ed760;
  }
  
  .main-content {
    flex: 1;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .header {
    padding: 1rem;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h2 {
    margin: 22px;
    font-size: 1.5rem;
  }
  
  .search-bar {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    width: 300px;
  }
  
  .content {
    padding: 1rem;
  }
  
  .carousel {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0;
  }
  
  .card {
    background-color: #181818;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1rem;
    color: #ccc;
  }